{% extends "recipes/base.html" %}
{% load static %}

{% block links %}
    <!--These are all the links that are used for this specific template-->
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/login_sign.css' %}">
{% endblock %}

{% block content %}
    <!--This is all the code for the main page for this specific template-->
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Login Page</span>
                <!--This will call the form call login-form and will display all the neccessary fields from
                the form so the user can log into the website-->
                <form method="post" id="login-form">
                    {% csrf_token %}
                    {{ form.as_div }}
                    <button type="submit" class="submit-button">Login</button>
                </form>
                <!-- Signup Link to Signup Page -->
                <div class="login-signup">
                    <span class="text">Not a member yet?
                        <!--This will take the user to the register page so they can create an account with us-->
                        <a href="{% url 'user_register' %}" class="signup-link">Signup Now</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}