{% extends "recipes/base.html" %}
{% load static %}

{% block links %}
    <!--These are all the links that are used for this specific template-->
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/styles.css' %}">
{% endblock %}

{% block content %}
    <!--This is all the code for the main page for this specific template-->
    <div class="container-search">
        <div class="search-wrapper">
            <!--This is the input field where the user will search for a recipe they want-->
            <form method="get" action="{% url 'search_recipe' %}">
                {{ search_form.as_p }}
                <!--This is the button the user will click when they want to search-->
                <button type="submit" class="search-button"><i class="fa fa-fw fa-search"></i> Search</button>
            </form>
        </div>
        <div class="product-details">
            <!--If there are any recipes found that are being searched. The following will happen below-->
            {% if recipes %}
                <table class="product-display">
                    <thead>
                    <tr>
                        <!--This is the header of the table view-->
                        <th>Image</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Likes</th>
                        <th>Created On</th>
                    </tr>
                    </thead>
                    {% for recipe in recipes %}
                        <!--This will display every individual recipe the user has searched for-->
                        <tr>
                            <td><img src="{{ recipe.food_image.url }}" height="100" width="100"
                                     alt="{{ recipe.title }}"></td>
                            <td class="product"><a class="recipe-page"
                                                   href="{% url 'recipe_view' post_id=recipe.id %}">{{ recipe.title|title }}</a>
                            </td>
                            <td class="product">{{ recipe.category|title }}</td>
                            <td class="product">{{ recipe.total_likes }}</td>
                            <td class="product">{{ recipe.date_created.date }}</td>
                            <td>
                                <!--This will take the user to the view page of the recipe if the user wants to view the recipe-->
                                <a href="{% url 'recipe_view' post_id=recipe.id %}" class="editbtn">View</a>
                                <!--if the user is an admin user, they will be able to view the remove button and remove the recipe.-->
                                {% if user.is_superuser %}
                                    <form method="post" action="{% url 'recipe_delete' recipe.id %}">
                                        {% csrf_token %}
                                        <button class="deletebtn" type="submit"><i class="fa fa-fw fa-trash"></i> Remove</button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <!--If there are more than 5 recipes, the page index will be created so the user can go to the next
                page to view the other recipes.-->
                <div class="page-container">
                    <!--This is for the previous page button-->
                    {% if recipes.has_other_pages %}
                        {% if recipes.has_previous %}
                            <a href="?page={{ recipes.previous_page_number }}"><<</a>
                        {% else %}
                            <span class="disabled"><<</span>
                        {% endif %}

                        <!--This is for the current index page-->
                        {% for i in recipes.paginator.page_range %}
                            {% if recipes.number == i %}
                                <span class="selected-page" href="?page={{ i }}">{{ i }}</span>
                            {% else %}
                                <a href="?page={{ i }}">{{ i }}</a>
                            {% endif %}
                        {% endfor %}

                        <!--This is for the next page button-->
                        {% if recipes.has_next %}
                            <a href="?page={{ recipes.next_page_number }}">>></a>
                        {% else %}
                            <span class="disabled">>></span>
                        {% endif %}
                    {% endif %}
                </div>
                <!--if there is no result found in the search, the following message will be displayed-->
            {% else %}
                <p>No results found.</p>
            {% endif %}
            <!--This will take the user back to the previous page they were on-->
            <button class="account-info-buttons" onclick="window.history.back()" type="button">Go back</button>
        </div>
    </div>
{% endblock %}