@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400..700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Barlow Semi Condensed', sans-serif;
}

html, body {
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  main {
    /*flex: 1;*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px; /* adjust this value to match the height of your navbar */
    padding-bottom: 100px; /* adjust this value to match the height of your footer */
    position: relative;
  }
.navbar-logo,
.navbar .nav-link,
.navbar .nav-butaccount{
    display: inline-block;
    padding: 15px;
}

.navbar-logo{
    text-decoration: none;
    font-family: 'Dancing Script', sans-serif;
    font-size: 30px;
    color: #cd9564;
    transition: all 0.2s ease-in-out;
}

.navbar-logo:hover {
    color: #ebd5c1;
}

.navbar-collapse,
.navbar-toggler {
    display: none;
}

.navbar{
    position: relative;
    background: #09211b;
}

.navbar .nav-link,
.navbar .nav-butaccount {
    font-size: 19px;
    border: none;
    background-color: inherit;
    color: #cd9564;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
}

.navbar .nav-link:hover,
.navbar .nav-butaccount:hover{
    color: #ebd5c1;
    border-bottom: 2px solid #ebd5c1;
}

.navbar-buttons{
   display: inline-block;
   margin-left: 15px;
   position: absolute;
   padding-top: 5px;
   top: 0;
   right: 0;
}

.show{
    display: block;
}

.container{
    /*position: relative;*/
    /*top: 50px;*/
    max-width: 430px;
    width: 100%;
    background: #09211b;
    border-radius: 20px;
    overflow:hidden;
    margin: 0 20px;
}

.container .forms{
    /*display: flex;*/
    align-items: center;
    /*height: 440px;*/
    width: 200%;
    transition: height 0.2s ease;
}


.container .form{
    width: 50%;
    padding: 30px;
    transition: margin-left 0.18s ease;
}

.container.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}


.container.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms{
    height: auto;
}
.container .form .title{
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: #ebd5c1;
}

.form div{
    margin-top: 20px;
}


.form .input-field,
.form #id_password1,
.form #id_password2{
    position: relative;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}


.form .input-field:is(:focus, :valid),
.form #id_password1:is(:focus, :valid),
.form #id_password2:is(:focus, :valid) {
    border-bottom-color: #cd9564;
}

.form label{
    font-size: 15px;
    font-weight: 500;
    color: #cd9564;
}

.form ul{
    color: #ebd5c1;
    text-align: center;
    list-style: none;
    letter-spacing: 1px;
    font-size: 10px;
}

.form .helptext{
    color: #ebd5c1;
    text-align: center;
    list-style: none;
    margin-top: 5px;
    letter-spacing: 1px;
    font-size: 10px;
}


.form .text{
    color: white;
    font-size: 14px;
}

.form .submit-button{
    width: 100%;
    margin-top: 35px;
    border: none;
    color: #ebd5c1;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #cd9564;
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s ease;
}

.submit-button:hover{
    color: #09211b;
    background-color: #ebd5c1;
}

.form .login-signup .login-link,
.form .login-signup .signup-link{
    text-decoration: none;
    cursor: pointer;
    color: #ebd5c1;
    transition: all 0.3s ease;
}

.form .login-signup .login-link:hover,
.form .login-signup .signup-link:hover{
    color: #cd9564;
}

.form .login-signup{
    margin-top: 20px;
    text-align: center;
}
.footer{
    margin-top: auto;
}

.content{
    width: 100%;
    margin: auto;
    background: #09211b;
    position: absolute;
}

footer .content .top{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.content .top .logo-details{
    height: 50px;
    width: 50px;
}

.content .top .logo-details span{
    font-family: 'Dancing Script', sans-serif;
    color: #cd9564;
    cursor: default;
    text-decoration: none;
    font-size: 40px;
}

.content .top .media-icons{
    display: flex;
}

.content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #09211b;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1),
.top .media-icons a:nth-child(2),
.top .media-icons a:nth-child(3),
.top .media-icons a:nth-child(4) {
    background: #8a582d;
}
.top .media-icons a:nth-child(1):hover,
.top .media-icons a:nth-child(2):hover,
.top .media-icons a:nth-child(3):hover,
.top .media-icons a:nth-child(4):hover{
    color: #8a582d;
    background: #cd9564;
}

footer .bottom-details{
    background: #061511;
}

footer .bottom-details .bottom-text{
    margin: auto;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}

.bottom-details .bottom-text span,
.bottom-details .bottom-text a{
    font-size: 14px;
    font-weight: 300;
    color: #cd9564;
    opacity: 0.8;
    text-decoration: none;
    cursor: pointer;
}

.bottom-details .bottom-text a:hover{
    opacity: 1;
    text-decoration: underline;
}

.bottom-details .bottom-text a{
    margin-right: 10px;
}